.detalhesEvento{
    box-shadow: 0px 0px 5px grey;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 60px
}
.formConvidado{
    box-shadow: 0px 0px 5px grey;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-bottom: 60px
    padding-bottom: 10px;
}

.tabelaConvidado{
width: 30%;
}

.mensagem{
    box-shadow: 0px 0px 5px grey;
    width: 150px;
}
.formEvento{
    padding-top: 80px;
}